.skills-main {
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
  margin: 20px;

  height: 520px; /* Adjust this height to the size you want */
  overflow-y: auto; /* Enable vertical scrolling for the entire section */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow: -moz-scrollbars-none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
.skills-title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: aquamarine; */
}
.skills-main-title {
  color: rgb(18, 18, 18);
  font-family: "system-ui";
  font-weight: 800;
  font-size: x-large;
}
.skills-underline {
  width: 60px;
  height: 8px;
  background-color: #00b0d7;
  border-radius: 50px;
}
.skills-bars {
  flex: 6;
  /* 
  background-color: #827254; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "system-ui";
  color: rgb(18, 18, 18);
  font-size: larg;
}
.skills-bars-columns {
  flex: 1;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
}
.bar-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bar-color {
  height: 25px;
  background: rgb(237, 237, 237);
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
}
.percentages {
  background-color: #00b0d7;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 95%;
}
@media only screen and (max-width: 720px) {
  .skills-bars-columns {
    flex: 1;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
  }
}
